*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: "Oxanium", sans-serif;
	list-style: none;
	text-decoration: none;
}
header{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 10001;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 12%;
}
.logo img{
	max-width: 100%;
	width: 160px;
	height: auto;
}
.navbar{
	display: flex;
	align-items: center;
}
.navbar a{
	color: #ffff;
	font-size: 18px;
	font-weight: 400;
	text-transform: capitalize;
	padding: 10px 22px;
	transition:all .42s;
}
.navbar a:hover{
	color: #fa614f;
}
.navbar .active{
	color: #fa614f;
}
.header-btn{
	display: flex;
	align-items: center;
	cursor: pointer;
}
.nav-btn i{
	font-size: 22px;
	margin-right: 5px;
}
.nav-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fa614f;
	color: #ffff;
	font-size: 19px;
	text-transform: capitalize;
	font-weight: 500;
	padding: 12px 25px;
	border-radius: 30px;
	transition: all .42s;
}
.nav-btn:hover{
	background: #8801D4;
}
#menu-icon{
	font-size: 40px;
	margin-left: 12px;
	z-index: 10001;
	cursor: pointer;
	color: #fff;
	display: none;
}

/*section-css*/
section{
	padding: 120px 12% 60px;
}

/* home-section-css*/
.home{
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: #170a24;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 3rem;
}
.home-img img{
	max-width: 100%;
	width: 485px;
	height: auto;
	border-top-left-radius: 150px;
	border-top-right-radius: 150px;
	border-bottom-left-radius: 150px;
	border-bottom-right-radius: 150px;
}
.home-text h4{
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	text-transform: capitalize;
	letter-spacing: 2px;
}
.home-text h1{
	color: #fff;
	font-size: 60px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 12px 0px;
}
.home-text h3{
	color: #fff;
	font-size: 28px;
	font-weight: 700;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.home-text h3 span{
	color: #fa614f;
}
.home-text p{
	max-width: 600px;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 30px;
}
.home-icon i{
	color: #fa614f;
	font-size: 22px;
	margin-right: 15px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border: 2px solid #fa614f;
	border-radius: 30px;
	margin-bottom: 40px;
	transition: all .42s;
}
.home-icon i:hover{
	background-color: #fa614f;
	color: #fff;
}
.home-btn{
	display: flex;
	align-items: center;
}
.home-btn i{
	font-size: 30px;
	margin-left: 2px;
	transition: all .42s;
}
.hm-btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	border: 2px solid #fa614f;
	background-color: #fa614f;
	padding: 8px 25px;
	border-radius: 50px;
	transition: all .42s;
}
.hm-btn:hover{
	background-color: transparent;
}
.hm-btn i:hover{
	transform: rotate(0deg);
}
.infinite{
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	padding: 2px 0px;
	background: linear-gradient(0deg, rgba(150,63,131,1) 0%, rgba(145,5,213,1)100%);
}
.infinite:hover .infi-logo{
	animation-play-state: paused;
}
.infi-logo img{
	height: 60px;
	margin: 0px 30px;
	cursor: pointer;
}
.infi-logo{
	display: inline-block;
	white-space: nowrap;
	animation: 30s slide infinite;  
}


@keyframes slide{
	from{
		transform: translateX(0%);
	}
	to{
		transform: translateX(-100%);
	}
}

/* header sticky css  */
header.sticky{
	background-color: #170a24;
	padding: 14px 12%;
	box-shadow: 0px 4px 15px rgb(0 0 0 /8%);
	transition: all .42s;
}
/* about section css */
.about{
	background-color: #170a24;  
}
.main-about{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 2rem;
}
.about-img img{
	max-width: 100%;
	width: 430px;
	height: auto;
}
.about-text h5{
	color: #fa614f;
	font-size: 22px;
	text-transform: capitalize;
	font-weight: 500;
	margin-bottom: 15px;
}
.about-text h2{
	color: #fff;
	font-size: 40px;
	text-transform: capitalize;
	font-weight: 700;
	line-height: 1.4;
}
.about-text h2 span{
	color: #fa614f;
}
.about-text P{
	max-width: 540px;
	color: #d4cece;
	font-size: 20px;
	line-height: 28px;
	margin: 20px 0px;
}
.about-li{
	display: flex;
	align-items: center;
	gap: 30px;
	margin-bottom: 30px;
}
.about-li h6{
	color: #fff;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 400;
	margin: 10px 0px;
	display: flex;
	align-items: center;
}
.about-li h6 i{
	color: #fa614f;
	font-size: 20px;
	margin-right: 10px;
}
/* Expert areas  */
.areas{
	background-color: #170a24;
}
.areas-top h1{
	color: #fff;
	font-size: 40px;
	text-transform: capitalize;
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
}
.areas-top h1 span{
	color: #fa614f;
}
.areas-top p{
	max-width: 1000px;
	color: #fff;
	font-size: 17px;
	font-weight: 400;
	line-height: 28px;
	text-align: center;
	margin: auto 80px;
}
.skill-detls{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px,auto));
	gap: 2rem;
}
.box-img img{
	width: 100px;
	height: auto;
	cursor: pointer;
	transition: all .42s;
	
}
.box-img:hover img{
	-webkit-filter: grayscale(100%);
	filter: grayscale(-100%);
}
.box-img{
	filter: none;
	text-align: center;
	padding: 30px 50px;
	background: #150b1f;
	border-radius: 15px;
	box-shadow: rgba(48, 49, 49, 0.2 ) 0px 8px 24px;
	cursor: pointer;
	transition: all .42s ease;
}
.box h4{
	color: #747779;
	font-size: 25px;
	font-weight: 600;
	margin: 12px 0px 0px 0px;
}
.box h3{
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	margin-top: 20px;
}

/* Recent project section css */
.recent-project{
	background-color: #170a24;
}
.project-top{
	text-align: center;
}
.project-top h5{
	color: #fa614f;
	font-size: 22px;
	font-weight: 700;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.project-top h2{
	color: #fff;
	font-size: 40px;
	text-transform: capitalize;
	font-weight: 700;
	margin-bottom: 40px;
}
.project-top h2 span{
	color: #fa614f;
}
.project-list{
	margin-bottom: 80px;
}
.project-list a{
	color: #fa614f;
	font-size: 15px;
	text-transform: capitalize;
	font-weight: 400;
	margin-right: 20px;
	border: 1px solid transparent;
	padding: 5px 15px;
	border-radius: 10px;
	transition: all .42s;
}
.project-list .active{
	border: 1px solid #fa614f;
	padding: 5px 15px;
	border-radius: 10px;
}
.project-list a:hover{
	border: 1px solid #fa614f;
	background: #fa614f;
}
.main-project{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	gap: 2rem;
}
.project{
	overflow: hidden;
}
.project img{
	display: block;
	max-width: 100%;
	width: 100%;
	height: auto;
	cursor: pointer;
	border-radius: 10px;
	transition: all .42s;
}
.project:hover img{
	transform: scale(1.1);
}
/* Experience Section css*/
.exp-head{
	background-color: #170a24;
}
.exp-top h5{
	color: #fa614f;
	font-size: 22px;
	font-weight: 700;
	text-transform: capitalize;
	margin-bottom: 20px;
	text-align: center;
}
.exp-top h2{
	color: #fff;
	font-size: 40px;
	text-transform: capitalize;
	font-weight: 700;
	margin-bottom: 80px;
	text-align: center;
}
.exp-top h2 span{
	color: #fa614f;
}
.exp-detls{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	gap: 4rem;
}
.exp-card{
	position: relative;
	padding: 20px 20px;
	border-radius: 10px;
	background-color: #150b1f;
	cursor: pointer;
	box-shadow: rgba(48, 49, 49, 0.2 )0px 8px 24px;
	transition: all .42s;
}
.exp-card:hover{
	box-shadow: rgba(0, 0, 0, 0.24 )0px 3px 8px;
}
/*.exp-top{						(for multiple experience if have)
	display: flex;
	justify-content: space-between;
}*/
.exp-logo{
	width: 100%;
	height: auto;
}
.exp-img{
	width: 100px;
	height: auto;
	border-radius: 10px;
	border-bottom-left-radius: 90px;
}
.exp-btn i{
	font-size: 22px;
	color: #8801D4;
	margin-bottom: 20px;
	transition: all .42s;
}
.exp-btn i:hover{
	transform: translateX(5px);
}
.exp-btn p{
	color: #ddd;
	font-size: 17px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 20px;
}
.exp-btn h4{
	color: #ffff;
	font-size: 22px;
	text-transform: capitalize;
	font-family: 700;
	margin-bottom: 5px;	
}
.exp-btn h6{
	color: #dddddd;
	font-size: 20px;
	text-transform: capitalize;
	font-weight: 400;
	margin-bottom: 5px;	
}
.exp-btn h2{
	color: #dddddd;
	font-size: 20px;
	text-transform: capitalize;
	font-weight: 400;
}

/* Contact section css*/
.contact{
	background-color: #170a24;
}
.cont-top h2{
	color: #fff;
	font-size: 45px;
	text-transform: capitalize;
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
}
.cont-top h2 span{
	color: #fa614f;
}
.cont-top p{
	color: #dddddd;
	font-size: 17px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	margin-bottom: 50px;
}
.main-cont{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}	
.cont-input input{
	width: 100%;
	padding: 20px;
	margin: 10px 10px;
}
form .cont-input input{
	width: 95%;
}
.cont-input input{
	background-color: #150b1f;
	font-size: 16px;
	text-transform: inherit;
	border-radius: 10px;
	border: none;
	caret-color: #fff;
	border: 2px solid #fff;
	outline: none;
}
input:focus,
input:valid{
	color: #fff;
}
form textarea{
	max-width: 100%;
	width: 90%;
	height: 40vh;
	padding: 20px 20px;
	font-size: 16px;
	resize: none;
	border:  solid #fff;
	outline: none;
	border-radius: 10px;
	background-color: #150b1f;
	caret-color: #fff;
	margin-top: 40px;
}
textarea:focus,
textarea:valid{
	color: #fff;
}

/* Submit button css */

.submit-container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
.sub{
	color: #fff;
	font-size: 20px;
	max-width: 150px;
	height: 40px;
	cursor: pointer;
	font-weight: 700;
	border: 2px solid #fa614f;
	background-color: #fa614f;
	padding: 6px 15px;
	border-radius: 50px;
	transition: all .42s;
}
.submit-container:hover{
	color: #fa614f;
	background-color: transparent;
}

/* footer css*/
.footer{
	background-color: #100719;
}
.main-footer{
	text-align: center;
	padding: 40px 0px;
}
.main-footer img{
	max-width: 100%;
	width: 140px;
	height: auto;
	margin-bottom: 20px;
}
.footer-li a{
	color: #fff;
	font-size: 18px;
	text-transform: capitalize;
	font-weight: 500;
	padding: 0px 20px;
	transition: all .42s;
}
.footer-li a:hover{
	color: #fa614f;
}
.main-footer p{
	color: #a7a2a2;
	font-size: 17px;
	margin-top: 30px;
}

/* Responsive code css*/
@media(max-width:1420px){
	header{
		padding: 25px 5%;
		transition: .5s;
	}
	section{
		padding: 120px 5% 60px;
		transition: .5s;
	}
	header.sticky{
		padding: 14px 5%;
		transition:.5s;
	}
	.home-img img{
		width: 420px;
		height: auto;
		transition: .5s;
	}
}
@media(max-width:1180px){
	.home-text h1{
		font-size: 55px;
		line-height: 1.2;
		transition: .4s;
	}
	.home-text h4{
		font-size: 25px;
		transition: .4s;
	}
	.home-icon i{
		margin-bottom: 30px;
		transition: .4s;
	}
	.home-img img{
		width: 400px;
		height: auto;
		transition: .5s;
	}
}
@media(max-width:1080px){
	.home-text h1{
		font-size: 45px;
		line-height: 1.2;
		transition: .4s;
	}
	.home-text h3{
		font-size: 25px;
		margin-bottom: 15px;
		transition: .4s;
	}
	.home-text p{
		margin-bottom: 25px;
		transition: .42s;
	}
	.home-icon i{
		margin-bottom: 30px;
		transition: .4s;
	}
	.home-img img{
		width: 380px;
		height: auto;
		transition: .5s;
	}
}
@media(max-width:1000px){
	.home{
		display: block;
		flex-wrap: wrap;
		height: 100%;
	}
	.home-text{
		margin-bottom: 40px;
		padding-top: 30px;
	}
	.home-img{
		text-align: center;
	}
}
@media(max-width:550px){
	.home-text h1{
		font-size: 40px;
		line-height: 1.2;
		transition: .4s;
	}
	.home-text h3{
		font-size: 22px;
		margin-bottom: 15px;
		transition: .4s;
	}
	.about-text h2{
		font-size: 29px;
		transition:.3s;
	}
	.project-top h2{
		font-size: 29px;
		line-height: 1.2;
	}
	.project-list a{
		padding: 0px 0px;
	}
	.exp-top h2{
		font-size: 35px;
		line-height: 1.2;
		transition: .4s;
	}
	.cont-top h2{
		font-size: 35px;
		line-height: 1.2;
		transition: .4s;
	}
	.footer-li a{
		padding: 0px 5px;
	}
}
@media(max-width:1100px){
	.main-about{
		grid-template-columns: 1fr;
		gap: 4rem;
	}
	.about-img{
		text-align: center;
		order: 2;
	}
}
@media(max-width:950px){
	form .cont-input input{
		width: 62%;
		transition: .5s;
	}
	#menu-icon{
		display: block;
	}
	.navbar{
		position: absolute;
		top: -1000px;
		right: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction:column;
		align-items:flex-start;
		padding: 10px 20px;
		backdrop-filter: blur(40px);
		transition: all .42s;
	}
	.navbar{
		display: block;
		font-size: 25px;
		margin: 5px;
	}
	.navbar.open{
		top: 100%;
	}
}
@media(max-width:700px){
	form .cont-input input{
		width: 100%;
		transition: .5s;
	}
	form textarea{
		width: 100%;
	}
	.cont-input input{
		margin: 10px 0px;
	}
}
@media(max-width:400px){
	.logo img{
		width: 120px;
		height: auto;
	}
	.nav-btn{
		padding: 12px 20px;
	}
}